body{
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(164, 209, 194);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar{
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.navbar ul{
    display: flex;
    gap: 20px;

    list-style-type: none;
    background-color: rgb(54, 78, 78);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}
.navbar a:hover{
    background-color: rgb(197, 223, 214);
}
.navbar li{
    display: flex;
}


form{
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 101, 123);
    gap: 15px;
    width: 50%;
    height: 40%;
    margin-left: 300px;
    text-align: center;
    border: 1px solid rgb(8, 10, 17);
    border-radius: 10px;
    text-align: left;

}

.gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.gallery img{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(8, 5, 5, 0.2);
}
.gallery img:hover{
    transform: (-5px);
    box-shadow: 0 4px 8px rgb(3, 3, 3);
}
footer{
    background-color: rgb(59, 105, 105);
    color: antiquewhite;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background: bisque;
    padding: 20px;
    border-radius: 20px;
    position: relative;
        
}
.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #080808;
    letter-spacing: 0.03px;
    position: relative;
    text-align: center;
}
.message,
.signin{
    color: blue;
    font-size: 14px;
    text-align: center;
}
.signin a{
    color: #080808;
    text-decoration: none;
    transition: 0.3s;
}
.signin a:hover{
    color: rgb(11, 14, 14);
}
.form-group{
    display: flex;
    width: 100%;
    gap: 5px;
}
.form label{
    position: relative;
}
.form label input{
    width: 100%;
    padding: 10px;
    border: 1px solid #130e0e;
    border-radius: 5px;
    font-size: 14px;
}
.form label input + span{
    position: absolute;
    left: 30px;
    top: 15px;
    color: #ccc;
    font-size: 0.9em;
    transition: 0.3s ease;
    cursor: text;
}
